/*gradient*/
body {
    background: #cedbe9; /* Old browsers */
    background: -moz-linear-gradient(top, #cedbe9 0%, #aac5de 0%, #3a84c3 24%, #6199c7 42%, #419ad6 59%, #4bb8f0 73%, #3a8bc2 89%, #26558b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cedbe9 0%,#aac5de 0%,#3a84c3 24%,#6199c7 42%,#419ad6 59%,#4bb8f0 73%,#3a8bc2 89%,#26558b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cedbe9 0%,#aac5de 0%,#3a84c3 24%,#6199c7 42%,#419ad6 59%,#4bb8f0 73%,#3a8bc2 89%,#26558b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=0 ); /* IE6-9 */
}
/*end of gradient*/

img {
    padding: 0.5rem;
	max-width: 100%;
	height: auto;
}

div.jumbotron {
    background-color: #FE938C;
	color: white;
}

.col-sm {
    margin-top: 0.5rem;
    
}

p.lead {
	font-size: 2rem;
}

h5.card-title {
	text-align: center;
	color: #3A84C3;
}

.card {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
    border: none;
    -webkit-box-shadow: 11px 13px 52px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 13px 52px -15px rgba(0,0,0,0.75);
    box-shadow: 11px 13px 52px -15px rgba(0,0,0,0.75);
    border-radius: 0.5rem;
    background-color: #DDEDAA; /* Old browsers */

}

.list-group li {
	background-color: #93B5C6;
	color: white;
}

.card a {
    position: absolute;
    bottom: 3rem;
}

li.list-group-item {
    border-left: none;
    border-right: none;
}
